.sidebar{
  background:url(/images/SidebarGradient.svg) no-repeat;
  background-color:#F5F7F8;
  position:relative;
  overflow: auto;
}
.logoSmall{
    display: block;
    background-image:url(/images/LogoSmall.svg);
    width: 155px;
    height: 48px;
    position: absolute;
    top:32px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    left: 50%;
    margin-left: -75px;
}
.sidebar ul{
  position:relative;
  float: left;
  margin:160px 0 0;
  padding:0;
  width:100%;
  text-align: left;
}
.sidebar li{
  display: block;
  margin:0;
}
.sidebar li h3{
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  padding:0;
  margin:0;
}
.sidebar li a{
  padding:10px 20px;
  display: block;
}

.sidebar li a:hover{
  background-color:#1976D2 !important;
  color:#fff;
}
